Repository Candy-Doc/candy-doc-maven-plugin, pull requests merged in 2022-05, with the labels that each got.

#131 :green_heart: fix: Fix the checklist action event
  .github/workflows/checklist.yml
Labels: Bug, CI/CD

#110 :memo: docs: fix read me typos
  README.md
Labels: Documentation

#88 :construction_worker: feat(ci): add semantic releases
  .github/workflows/manual_release.yml
  .github/workflows/package.yml
  .github/workflows/publish_release.yml
  .releaserc.json
  ci_settings.xml
  maven-settings.xml
  pom.xml
Labels: CI/CD

#136 :green_heart: fix(ci): Add a condition to avoid workflow runs from bots
  .github/workflows/checklist.yml
  .github/workflows/issue_checker.yml
  .github/workflows/pull_request_checker.yml
Labels: CI/CD

#138 :construction_worker: fix: add adopt distribution
  .github/workflows/package.yml
Labels: CI/CD

#139 :green_heart: fix: Modify semantic config to allow the usage of gitmoji
  .github/workflows/publish_release.yml
  .releaserc.json
  CONTRIBUTING.md
Labels: CI/CD

#129 :sparkles: feat: Handle shared kernels and inner bounded contexts
  README.md
  pom.xml
  src/main/java/io/candydoc/ddd/Command.java
  src/main/java/io/candydoc/ddd/Event.java
  src/main/java/io/candydoc/ddd/aggregate/AggregatesExtractor.java
  src/main/java/io/candydoc/ddd/annotations/DDDKeywords.java
  src/main/java/io/candydoc/ddd/annotations/SharedKernel.java
  src/main/java/io/candydoc/ddd/bounded_context/BoundedContextExtractor.java
  src/main/java/io/candydoc/ddd/bounded_context/BoundedContextFound.java
  src/main/java/io/candydoc/ddd/bounded_context/BoundedContextInteractionStrategy.java
  src/main/java/io/candydoc/ddd/bounded_context/ExtractBoundedContexts.java
  src/main/java/io/candydoc/ddd/bounded_context/NoBoundedContextFound.java
  src/main/java/io/candydoc/ddd/core_concept/CoreConceptExtractor.java
  src/main/java/io/candydoc/ddd/core_concept/CoreConceptInteractionStrategy.java
  src/main/java/io/candydoc/ddd/domain_command/DomainCommandExtractor.java
  src/main/java/io/candydoc/ddd/domain_command/DomainCommandInteractionStrategy.java
  src/main/java/io/candydoc/ddd/domain_event/DomainEventExtractor.java
  src/main/java/io/candydoc/ddd/domain_event/DomainEventInteractionStrategy.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/DDDConceptFinder.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/DDDConceptsExtractionService.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/ExtractDDDConceptsUseCase.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/NoBoundedContextNorSharedKernelFound.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/PackageToScanMissing.java
  src/main/java/io/candydoc/ddd/extract_ddd_concepts/ReflectionsConceptFinder.java
  src/main/java/io/candydoc/ddd/interaction/InteractionChecker.java
  src/main/java/io/candydoc/ddd/model/DDDConcept.java
  src/main/java/io/candydoc/ddd/shared_kernel/ExtractSharedKernels.java
  src/main/java/io/candydoc/ddd/shared_kernel/SharedKernel.java
  src/main/java/io/candydoc/ddd/shared_kernel/SharedKernelExtractor.java
  src/main/java/io/candydoc/ddd/shared_kernel/SharedKernelFound.java
  src/main/java/io/candydoc/ddd/shared_kernel/SharedKernelInteractionStrategy.java
  src/main/java/io/candydoc/ddd/value_object/ValueObjectExtractor.java
  src/main/java/io/candydoc/plugin/model/BoundedContextDto.java
  src/main/java/io/candydoc/plugin/model/BoundedContextDtoMapper.java
  src/main/java/io/candydoc/plugin/save_documentation/html/SaveDocumentationAsHTML.java
  src/main/resources/web/templates/freemarker/bounded_context.ftlh
  src/main/resources/web/templates/freemarker/concept_page.ftlh
  src/main/resources/web/templates/freemarker/navigation.ftlh
  src/test/java/io/candydoc/ddd/extract_ddd_concepts/ExtractDDDConceptsUseCaseTest.java
  src/test/java/io/candydoc/plugin/model/BoundedContextDtoMapperTest.java
  src/test/java/io/candydoc/plugin/model/BoundedContextDtoTest.java
  src/test/java/io/candydoc/plugin/save_documentation/SaveDocumentationAdapterFactoryImplTest.java
  src/test/java/io/candydoc/plugin/save_documentation/file/SaveDocumentationAsFileTest.java
  src/test/java/io/candydoc/plugin/save_documentation/html/SaveDocumentationAsHTMLTest.java
  src/test/java/io/candydoc/sample/valid_bounded_contexts/shared_kernel/package-info.java
  src/test/java/io/candydoc/sample/valid_bounded_contexts/shared_kernel/sub_package/CoreConcept1.java
  src/test/java/io/candydoc/sample/valid_bounded_contexts/shared_kernel/sub_package/ValueObject1.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/bounded_context/inner_bounded_context/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/bounded_context/inner_shared_kernel/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/bounded_context/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/inner_bounded_context/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/inner_shared_kernel/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/package-info.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/sub_package/Aggregate1.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/sub_package/DomainCommand1.java
  src/test/java/io/candydoc/sample/wrong_bounded_contexts/shared_kernel/sub_package/DomainEvent1.java
Labels: Enhancement, Implement the DDD concepts, Java

#144 :green_heart: fix(ci): Remove dateformat from semantic release
  .github/templates/commit-template.hbs
  .github/templates/default-template.hbs
  .github/workflows/publish_release.yml
  .releaserc.js
Labels: CI/CD

#142 :construction_worker: fix(ci): Candy gitmoji added to the workflow
  .github/.gitmojis.json
  .github/workflows/pull_request_checker.yml
Labels: CI/CD

#134 :memo: feat(docs): New diagram for the development workflow
  README.md
  assets/screenshots/feature-branch-rebase-final.png
Labels: Documentation

#157 :green_heart: fix(ci): Remove useless issue linter workflow
  .github/workflows/issue_checker.yml
Labels: CI/CD
