Repository Candy-Doc/candy-doc-maven-plugin, pull requests merged in 2022-04, with the labels that each got.

#101 :memo: docs: Delete last references to previous gitlab.ci in README.md
  README.md
  gh-md-toc
  src/main/resources/screenshots/feature-branch-rebase-final.png
Labels: Documentation

#108 :construction_worker: feat(ci): Add issue linter and modify templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/issue_checker.yml
Labels: CI/CD

#52 :construction_worker: feat(ci): add jacoco and update dependencies
  lombok.config
  pom.xml
Labels: Enhancement

#115 :construction_worker: feat(docs): New TOC configuration
  .github/workflows/toc_generation.yml
  README.md
Labels: Documentation, CI/CD

#120 :construction_worker: feat: Disable rule according to new ToC action
  .pre-commit-config.yaml
Labels: CI/CD

#122 :green_heart: fix: Simplify code owners
  .github/CODEOWNERS
Labels: CI/CD

#121 :construction_worker: fix: Move PR template to the .github/ root
  .github/pull_request_template.md
Labels: CI/CD

#99 📝 docs: Update documentation
  .github/workflows/toc_generation.yml
  CODING_GUIDELINES.md
  CONTRIBUTING.md
  README.md
  assets/screenshots/bounded_context.png
  assets/screenshots/cicd.png
  assets/screenshots/core_concept.png
  assets/screenshots/create_key.png
  assets/screenshots/feature-branch-rebase-final.png
  assets/screenshots/homepage.png
  assets/screenshots/homepage2.png
  assets/screenshots/index.png
  assets/screenshots/key_details.png
  assets/screenshots/key_export.png
  assets/screenshots/password.png
  assets/screenshots/settings.png
Labels: Documentation, CI/CD
